body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh; 
    font-size: 40px;
    color: white;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 500px;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 15px;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 25px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

h2 {
    font-size: 60px;
}

.headshot {
    width: 200px;
    margin: 30px;
}

.headshot-container {
    display:flex;
    align-items: center;
}

.project-card {
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 20px gray;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}